@font-face {
  font-family: "myriad cond bold ital";
  src: url("./fonts/myriad_cond_bold_ital.OTF");
}
@font-face {
  font-family: "myriad cond bold";
  src: url("./fonts/myriad_cond_bold.OTF");
}
@font-face {
  font-family: "myriad cond ital";
  src: url("./fonts/myriad_cond_ital.OTF");
}
@font-face {
  font-family: "myriad cond";
  src: url("./fonts/myriad_cond.OTF");
}
@font-face {
  font-family: "myriad regular";
  src: url("./fonts/myriad_regular.OTF");
}
@font-face {
  font-family: "myriad semibold ital";
  src: url("./fonts/myriad_semibold_ital.OTF");
}
@font-face {
  font-family: "myriad bold ital";
  src: url("./fonts/myriad_bold_ital.OTF");
}
@font-face {
  font-family: "myriad ital";
  src: url("./fonts/myriad_ital.OTF");
}
@font-face {
  font-family: "Alana";
  src: url("./fonts/alana.ttf");
}
@font-face {
  font-family: "Hypatia";
  src: url("./fonts/hypatia_sans_pro.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("./fonts/calibri.ttf");
}
@font-face {
  font-family: "Matrix";
  src: url("./fonts/matrix_iiot.ttf");
}
@font-face {
  font-family: "Mendel";
  src: url("./fonts/mendl_serif_dusk.ttf");
}
@font-face {
  font-family: "Mendl Serif Dusk Medium";
  src: url("./fonts/mendl_serif_dusk_med.ttf");
}
@font-face {
  font-family: "Mendl Serif Dusk Semibold";
  src: url("./fonts/mendl_serif_dusk_semb.ttf");
}
@font-face {
  font-family: "Mendel Bold";
  src: url("./fonts/mendl_serif_dusk_bold.ttf");
}
@font-face {
  font-family: "Wingdings";
  src: url("./fonts/wingdings.ttf") format("truetype");
}
@font-face {
  font-family: "Wingdings2";
  src: url("./fonts/wingdings2.ttf") format("truetype");
}
@font-face {
  font-family: "Wingdings3";
  src: url("./fonts/wingdings3.ttf") format("truetype");
}
@font-face {
  font-family: "D6Black";
  src: url("./fonts/d6_black.otf");
}
@font-face {
  font-family: "BBECOF2ICons";
  src: url("./fonts/bbe_cof2_icons_v1c.otf");
}
@font-face {
  font-family: "MinionPro";
  src: url("./fonts/minion-pro-regular.otf");
}
:root {
  --font-size-standard: 16px;
}
.journal-cof2ta-ru,
.merchant-description,
.editor-enriched,
.editor-content,
.chat-card {
  --color-ru-or: #ad7600;
  --color-ru-violet: #600060;
  --color-ru-parcho: #663404;
  --color-ru-bgparcho: #66340445;
  --color-ru-lien: #911c00;
  --color-ru-discussion: #001639;
  --color-ru-roll: #001791;
}
.journal-cof2ta-ru .content-link,
.merchant-description .content-link,
.editor-enriched .content-link,
.editor-content .content-link,
.chat-card .content-link {
  border: none;
  background: none;
  color: var(--color-ru-lien);
  font-weight: 700;
  font-family: "myriad cond ital";
  letter-spacing: 1px;
  padding: 0;
}
.journal-cof2ta-ru .content-link i,
.merchant-description .content-link i,
.editor-enriched .content-link i,
.editor-content .content-link i,
.chat-card .content-link i {
  text-indent: 0;
  color: var(--color-ru-lien);
}
.journal-cof2ta-ru {
  font-family: "myriad cond";
}
.journal-cof2ta-ru .paragraphe {
  text-indent: 20px;
  font-size: var(--font-size-18);
  text-align: justify;
}
.journal-cof2ta-ru h1 {
  color: var(--color-ru-or);
  border-bottom: 1px solid var(--color-ru-or);
  border-width: 2px;
  font-family: "Matrix";
}
.journal-cof2ta-ru h2 {
  font-family: "Matrix";
  color: var(--color-ru-parcho);
  border: none;
  text-decoration: underline;
  margin: 5px 0 15px 0;
}
.journal-cof2ta-ru h2::before {
  content: "\0027A5";
  margin-right: 4px;
  display: inline-block;
}
.journal-cof2ta-ru h3 {
  font-family: "myriad bold ital";
  color: var(--color-ru-violet);
  margin: 5px 0 15px 10px;
}
.journal-cof2ta-ru h3::before {
  content: "\0027A7";
  margin-right: 2px;
}
.journal-cof2ta-ru hr {
  background-image: linear-gradient(90deg, transparent 0%, var(--color-text-primary) 50%, transparent 100%);
  height: 1px;
  margin: 10px 0;
}
.journal-cof2ta-ru .description {
  font-family: "myriad ital";
  color: var(--color-ru-violet);
  margin: 5px 10px;
  border-left: 2px solid var(--color-ru-violet);
  padding: 0px 10px;
  border-right: 2px solid var(--color-ru-violet);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.journal-cof2ta-ru .description hr {
  background-image: linear-gradient(90deg, var(--color-ru-violet) 0%, transparent 30%, transparent 70%, var(--color-ru-violet) 100%);
  margin: 10px -10px;
}
.journal-cof2ta-ru .description p {
  font-size: var(--font-size-16);
}
.journal-cof2ta-ru .description em {
  font-family: "myriad cond";
  font-style: normal;
  font-size: var(--font-size-18);
}
.journal-cof2ta-ru span.description {
  border: none;
  font-size: var(--font-size-16);
  margin: 0;
  padding: 0;
}
.journal-cof2ta-ru ul {
  list-style: "\002B1F";
  margin: 0 0 0 10px;
  line-height: 1rem;
}
.journal-cof2ta-ru li {
  padding-left: 5px;
}
.journal-cof2ta-ru li .paragraphe {
  text-indent: 0px;
}
.journal-cof2ta-ru li::marker {
  font-size: large;
}
.journal-cof2ta-ru ul ul {
  list-style: "\002B54";
  margin: 0;
}
.journal-cof2ta-ru ul ul li::marker {
  font-weight: 900;
}
.journal-cof2ta-ru img {
  border: 1px solid var(--color-ru-or);
  border-radius: 10px;
  border-bottom: 3px solid var(--color-ru-or);
  border-right: 3px solid var(--color-ru-or);
  float: right;
  margin: 0 -10px 5px 10px;
}
.journal-cof2ta-ru img.left {
  border: 1px solid var(--color-ru-or);
  border-radius: 10px;
  border-bottom: 3px solid var(--color-ru-or);
  border-left: 3px solid var(--color-ru-or);
  float: left;
  margin: 0 10px 5px 0px;
}
.journal-cof2ta-ru img.center {
  border: 1px solid var(--color-ru-or);
  border-radius: 10px;
  border-bottom: 3px solid var(--color-ru-or);
  border-right: 3px solid var(--color-ru-or);
  border-left: 3px solid var(--color-ru-or);
  justify-self: center;
  margin: 0 0 5px 0;
}
.journal-cof2ta-ru .parcho {
  border: 1px solid var(--color-ru-parcho);
  padding: 5px 15px;
  border-radius: 20px;
  background-color: var(--color-ru-bgparcho);
  box-shadow: 1px 2px 3px 0px var(--color-ru-parcho);
  font-family: "myriad cond ital";
  margin: 5px 5px 15px 40px;
  font-size: var(--font-size-18);
}
.journal-cof2ta-ru .discussion {
  font-family: "Hypatia";
  font-style: italic;
  font-size: var(--font-size-16);
  margin: 5px 10px;
  padding: 0 10px;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--color-ru-discussion);
}
.journal-cof2ta-ru span.discussion {
  border: none;
  padding: 0;
  margin: 0;
}
.journal-cof2ta-ru .discu-acteur {
  text-decoration: underline;
  font-weight: 700;
  font-size: var(--font-size-18);
  font-family: "myriad bold ital";
}
.journal-cof2ta-ru .roll-check-enricher {
  color: var(--color-ru-roll);
  text-indent: 0;
  font-weight: 700;
}
.journal-cof2ta-ru .roll-result {
  color: var(--color-ru-parcho);
  font-weight: 900;
  font-family: "myriad cond bold ital";
  letter-spacing: 1px;
}
.journal-cof2ta-ru .imp {
  background-color: #e6000029;
  font-weight: 900;
}
.journal-cof2ta-ru .intro {
  font-family: "myriad cond ital";
  color: var(--color-ru-parcho);
  margin: 10px 15px;
  border-top: 2px dotted var(--color-ru-parcho);
  padding: 0 5px;
  border-bottom: 2px dotted var(--color-ru-parcho);
  font-size: var(--font-size-20);
  text-align: center;
}
.journal-cof2ta-ru .levelup {
  font-family: "myriad cond bold";
  color: var(--color-ru-lien);
  margin: 10px 15px;
  border-top: 3px dotted var(--color-ru-lien);
  border-bottom: 3px dotted var(--color-ru-lien);
  font-size: var(--font-size-28);
  text-align: center;
  text-shadow: 1px 1px 1px var(--color-ru-violet);
}
