:root {
  --font-size-standard: 16px;
}
.scenes-sidebar .scene,
.compendium-sidebar .compendium {
  max-height: 50px;
}
.sidebar-tab {
  --sidebar-item-height: 38px;
}
#pause > img {
  content: url(/modules/cof2ta_reliques_union/assets/artwork/symbole_union_blanc_pause2.webp);
}
#pause {
  height: 100px;
  gap: 0.5rem;
  top: calc(80vh - 50px);
}
